<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.student.dao.UserDao">
    <resultMap id="userType" type="com.student.model.User">
        <result property="id" column="id" />
        <result property="username" column="username" />
        <result property="password" column="password" />
    </resultMap>
    <select id="getUser" resultType="com.student.model.User" parameterType="string">
        SELECT * FROM user WHERE username=#{username} AND password=#{password}
    </select>
    
    <select id="getList" resultMap="userType">
        select  * FROM user
    </select>

    <update id="updateUser" parameterType="com.student.model.User">
        update user set password = #{password} where username = #{username}
    </update>

</mapper>